/* src/pages/Product/Product.module.css */
.productPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.notFound {
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    color: #333;
}

.sliderContainer {
    margin-bottom: 2rem;
}

.productInfo {
    max-width: 1250px;
    margin: 0 auto;
    padding: 2rem;
}

.productTitle {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    color: #891043; /* Updated color */
}

.contentWrapper {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    min-height: 400px;
}

.contentImageContainer {
    flex: 0 0 50%;
    position: sticky;
    top: 1rem;
    align-self: center;
}

.contentImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.descriptionContainer {
    flex: 1;
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {

    .contentWrapper {
        flex-direction: column;
    }
    
    .contentImageContainer {
        flex: 0 0 auto;
        width: 100%;
        position: static;
        margin-bottom: 1.5rem;
    }
}