.home {
  max-width: 2000px;
  margin: 0 auto;
}

.container {
  height: 900px;
}

.polygon{
  background-color: #eeee;
  height: 600px;
  width: 50%;
  clip-path: polygon(0% 20%, 0 0, 88% 0, 100% 50%, 88% 100%, 0 100%, 0% 80%);
}