.home {
  max-width: 2000px;
  margin: 0 auto;
}

.container {
  display: flex;
  margin-top: 2rem;
}

.sectionHeader {
  text-align: center;
  color: rgb(114, 15, 60);
  font-size: 2rem;
  margin-bottom: 50px;
  font-weight: 400;
}

/* Responsive styles */
@media (max-width: 1000px) {
  .container {
    background-color: #eeeeee; /* Gray background for whole container */
  }
}

@media (max-width: 768px) {
  .sectionHeader {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .container {
    flex-direction: column;
    margin-top: 1rem;
  }
}