# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Optional: coverage reports
coverage/

# Optional: build directories
dist/
build/

# IDE/editor specific files
.vscode/
.idea/

# Optional: cache
.cache/
